<div class="container">
    <div class="add">
    <h2>Add Flight</h2>
    <div class="d-flex justify-content-center pb-5">
    <form (ngSubmit)="addFlight()" class="d-flex flex-column gap-1 float pt-4 pb-4 pe-5 ps-5">
        <label>Flight Number:</label>
        <input [(ngModel)]="newFlight.flightNumber" name="flightNumber" required />
        <label>Departure City:</label>
        <input [(ngModel)]="newFlight.departureCity" name="departureCity" required />
        <label>Destination City:</label>
        <input [(ngModel)]="newFlight.destinationCity" name="destinationCity" required />
        <label>Departure Time:</label>
        <input [(ngModel)]="newFlight.departureTime" name="departureTime" type="datetime-local" required />
        <label>Arrival Time:</label>
        <input [(ngModel)]="newFlight.arrivalTime" name="arrivalTime" type="datetime-local" required />
        <label>Price:</label>
        <input [(ngModel)]="newFlight.price" name="price" required />
        <div class="d-flex mt-3 justify-content-center">
        <button type="submit">Add Flight</button>
    </div>
    </form>
</div>
</div>
</div>