<div class="container ">
<div class="search">
  <ng-container *ngIf="!isAdmin">
    <h2>Welcome to DonnAir</h2>
  </ng-container>

  <ng-container *ngIf="isAdmin">
    <h2>Flight Management</h2>
  </ng-container>
    <div class="d-flex flex-column justify-content-center float w-100">
      <div class="d-flex flex-row align-items-center me-4 ms-4 mt-4 gap-2">
        <div class="airplane-icon"></div>
        <div><a>Flight</a></div>
      </div>
      <form class="row d-flex justify-content-between m-2" (ngSubmit)="searchFlights()">
        <div class="col-5 d-flex flex-row flex-wrap m-3 city">
          <div class="d-flex flex-column">
            <label>Departure City:</label>
            <input [(ngModel)]="searchCriteria.DepartureCityDetails"
              name="departureCity"
              placeholder="Enter departure city"
            />
          </div>
          <div class="d-flex flex-column">
            <label>Destination City:</label>
            <input [(ngModel)]="searchCriteria.ArrivalCityDetails"
              name="arrivalCity"
              placeholder="Enter destination city"
            />
          </div>
        </div>
        <div class="col-5 d-flex flex-row flex-wrap m-3 date">
          <div class="d-flex flex-column">
            <label>Depart:</label>
            <input type="date" name="depart" [(ngModel)]="searchCriteria.DepartureDateTime" />
          </div>
          <div class="d-flex flex-column">
            <label>Return:</label>
            <input type="date" name="return" [(ngModel)]="searchCriteria.ArrivalDateTime" />
          </div>
        </div>
        <div class="col d-flex flex-wrap justify-content-center align-items-center">
          <button class="w-100 btn btn-success" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div class="d-flex w-100 table-responsive-sm mt-4">
    <table class="table table-hover w-100" *ngIf="filteredFlights.length > 0">
      <!-- <thead>
        <tr>
        </tr>
      </thead> -->
      <tbody>
        <tr *ngFor="let flight of filteredFlights" class="gap-2">
          <div class="d-flex flex-row justify-content-between w-100 list-row mb-3">
            <div class="first-col">
              <div><h4>{{ flight.FlightNumber }}</h4></div>
              <div><h6>DonnAir</h6></div>
            </div>
            <div class="d-flex flex-row justify-content-center center-col">
            <div class="w-50 pt-4 pb-4 d-flex flex-column gap-4">
              <div class="datetime">
                <div><h4>{{ flight.DepartureDateTime | date: 'shortTime' }}</h4></div>
                <div><h6>{{ flight.DepartureDateTime | date: 'longDate' }}</h6></div>
              </div>
              <div>
                <h5>{{ flight.DepartureCityDetails.City | uppercase }}, {{ flight.DepartureCityDetails.Country | uppercase  }}</h5>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <div class="line"></div>
            </div>
            <div class="w-50 pt-4 pb-4 d-flex flex-column gap-4">
              <div class="datetime">
                <div><h4>{{ flight.ArrivalDateTime | date: 'shortTime' }}</h4></div>
                <div><h6>{{ flight.ArrivalDateTime | date: 'longDate' }}</h6></div>
              </div>
              <div>
                <h5>{{ flight.ArrivalCityDetails.City | uppercase  }}, {{ flight.ArrivalCityDetails.Country | uppercase  }}</h5>
              </div>
            </div>
          </div>
            <div class="p-4 d-flex flex-column justify-content-center last-col gap-2">
              <div>
                <div><h6>Available Seats</h6></div>
                <div><h5>{{ flight.AvailableSeats }}</h5></div>
              </div>
              <div>
                <ng-container *ngIf="!isAdmin">
                  <button type="button" class="btn btn-success book"  (click)="bookFlight(flight.FlightID)">
                    Book Flight
                  </button>
                </ng-container>
                <ng-container *ngIf="isAdmin">
                  <button class="delete btn btn-danger " (click)="deleteFlight(flight)" >Delete Flight</button>
                </ng-container>
              </div>
            </div>
        </div>
        </tr>
      </tbody>
    </table>
    <p *ngIf="filteredFlights.length === 0 && isSearched">No flights found.</p>
  </div>
</div>