<div class="container ">
  <div class="search">
    <h2>Search Flights</h2>
    <div class="d-flex flex-column justify-content-center float w-100">
      <div class="d-flex flex-row align-items-center me-4 ms-4 mt-4 gap-2">
        <div class="airplane-icon"></div>
        <div><a>Flight</a></div>
      </div>
      <form (ngSubmit)="searchFlights()" class="row d-flex justify-content-between m-2">
        <div class="col-5 d-flex flex-row flex-wrap m-3 city">
          <div class="d-flex flex-column">
            <label>Departure City:</label>
            <input
              [(ngModel)]="searchCriteria.departureCity"
              name="departureCity"
              placeholder="Enter departure city"
            />
          </div>
          <div class="d-flex flex-column">
            <label>Destination City:</label>
            <input
              [(ngModel)]="searchCriteria.destinationCity"
              name="destinationCity"
              placeholder="Enter destination city"
            />
          </div>
        </div>
        <div class="col-5 d-flex flex-row flex-wrap m-3 date">
          <div class="d-flex flex-column">
            <label>Depart:</label>
            <input type="date" [(ngModel)]="searchCriteria.date" name="date"/>
          </div>
          <div class="d-flex flex-column">
            <label>Return:</label>
            <input type="date" />
          </div>
        </div>
        <div class="col d-flex flex-wrap justify-content-center align-items-center">
          <button class="w-100 btn btn-success" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div class="d-flex w-100 table-responsive-sm mt-4">
    <table class="table table-striped table-hover w-100" *ngIf="searchResults.length > 0">
      <thead>
        <tr>
          <th>Flight Number</th>
          <th>Departure City</th>
          <th>Destination City</th>
          <th>Departure Time</th>
          <th>Arrival Time</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of searchResults">
          <td>{{ flight.flightNumber }}</td>
          <td>{{ flight.departureCity }}</td>
          <td>{{ flight.destinationCity }}</td>
          <td>{{ flight.departureTime }}</td>
          <td>{{ flight.arrivalTime }}</td>
          <td>{{ flight.price | currency : "PHP" }}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="searchResults.length === 0 && isSearched">No flights found.</p>
  </div>
 